name: lint_test
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'skip-ci')"

    steps:
    - name: Checkout
      uses: actions/checkout@v1

    - name: Cache
      uses: actions/cache@v1
      with:
        path: ~/.npm # npm cache files are stored in `~/.npm` on Linux/macOS
        key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-build-${{ env.cache-name }}-
          ${{ runner.os }}-build-
          ${{ runner.os }}-
    - name: Setup
      uses: actions/setup-node@v1
      with:
        node-version: 12

    - name: Install
      run: npm install
      
    - name: Lint
      run: npm run lint
      
  test:
    name: Test
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'skip-ci')"

    steps:
    - name: Set up Go
      uses: actions/setup-go@v1
      with:
        go-version: 1.13
        
    - name: Checkout
      uses: actions/checkout@v1

    - name: Cache Build
      id: npm-dependencies
      uses: actions/cache@v1
      with:
        path: ~/.npm # npm cache files are stored in `~/.npm` on Linux/macOS
        key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-build-${{ env.cache-name }}-
          ${{ runner.os }}-build-
          ${{ runner.os }}-

    - name: Cache Go Dependencies
      id: go-dependencies
      uses: actions/cache@v1
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-go-

    - name: Download Daemon
      run: |
            mkdir -p ~/daemon && cd ~/daemon
            git clone --depth=1  https://github.com/textileio/go-threads.git

    - name: Build Daemon
      run: |
            cd ~/daemon/go-threads
            go mod download
            go build threadsd/main.go

    - name: Run Daemon
      run: |
           (cd ~/daemon/go-threads && rm -rf .threads && go run threadsd/main.go) &
           sleep 10

    - name: Setup
      uses: actions/setup-node@v1
      with:
        node-version: 12

    - name: NPM Install
      run: npm install

    - name: Test Node
      run: |
           npm run test:node

    - name: Test Browser
      run: |
           npm run test:browser
